
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: monospace;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: .2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  padding: 1em;

  background-color: black;
}

button {
  font: inherit;
}

.boton {
  padding: 1rem;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: background-color 250ms ease, color 250ms ease;
}

.boton:hover {
  background-color: black;
  color: white;
}

.digitos {
  display: flex;
  gap: 1px;
  border-radius: 15px;
  overflow: hidden;
}


.iniciar {
  aspect-ratio: 1;
  border-radius: 100%;
  width: 12ch;
}

.iniciar:hover {
  border: 2px solid white;
}
